In [132]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [133]:
cd Dataset/

[Errno 2] No such file or directory: 'Dataset/'
/home/davidoh/Documents/Pokemon/Dataset

In [134]:
df = pd.read_csv("pokemon.csv")
df.head(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0

In [135]:
df[df["is_legendary"]==1].head(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
143,"['Pressure', 'Snow Cloak']",0.50,1.0,1.0,2.0,1.0,1.0,2.0,1.0,1.0,...,NaN,144,95,125,85,ice,flying,55.4,1,1
144,"['Pressure', 'Static']",0.50,1.0,1.0,1.0,1.0,0.5,1.0,0.5,1.0,...,NaN,145,125,90,100,electric,flying,52.6,1,1
145,"['Pressure', 'Flame Body']",0.25,1.0,1.0,2.0,0.5,0.5,0.5,1.0,1.0,...,NaN,146,125,85,90,fire,flying,60.0,1,1

In [136]:
for col in df.columns:
    if col.startswith("against_"):
        df=df.drop(columns=[col])

In [137]:
#?df.drop
df.head(3)

,abilities,attack,base_egg_steps,base_happiness,base_total,capture_rate,classfication,defense,experience_growth,height_m,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",49,5120,70,318,45,Seed PokÃ©mon,49,1059860,0.7,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",62,5120,70,405,45,Seed PokÃ©mon,63,1059860,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",100,5120,70,625,45,Seed PokÃ©mon,123,1059860,2.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0

In [138]:
#returns every row in df that has legenddary = 1
df[df["is_legendary"]==1].head(3)

,abilities,attack,base_egg_steps,base_happiness,base_total,capture_rate,classfication,defense,experience_growth,height_m,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
143,"['Pressure', 'Snow Cloak']",85,20480,35,580,3,Freeze PokÃ©mon,100,1250000,1.7,...,NaN,144,95,125,85,ice,flying,55.4,1,1
144,"['Pressure', 'Static']",90,20480,35,580,3,Electric PokÃ©mon,85,1250000,1.6,...,NaN,145,125,90,100,electric,flying,52.6,1,1
145,"['Pressure', 'Flame Body']",100,20480,35,580,3,Flame PokÃ©mon,90,1250000,2.0,...,NaN,146,125,85,90,fire,flying,60.0,1,1

In [139]:
df.isnull().any()

abilities            False
attack               False
base_egg_steps       False
base_happiness       False
base_total           False
capture_rate         False
classfication        False
defense              False
experience_growth    False
height_m              True
hp                   False
japanese_name        False
name                 False
percentage_male       True
pokedex_number       False
sp_attack            False
sp_defense           False
speed                False
type1                False
type2                 True
weight_kg             True
generation           False
is_legendary         False
dtype: bool

In [140]:
df = df.drop(columns=["height_m","capture_rate","percentage_male","type2","weight_kg","abilities","classfication","japanese_name","name","pokedex_number","generation"])

In [141]:
df.isnull().any()

attack               False
base_egg_steps       False
base_happiness       False
base_total           False
defense              False
experience_growth    False
hp                   False
sp_attack            False
sp_defense           False
speed                False
type1                False
is_legendary         False
dtype: bool

In [142]:
df.head(30)

,attack,base_egg_steps,base_happiness,base_total,defense,experience_growth,hp,sp_attack,sp_defense,speed,type1,is_legendary
0,49,5120,70,318,49,1059860,45,65,65,45,grass,0
1,62,5120,70,405,63,1059860,60,80,80,60,grass,0
2,100,5120,70,625,123,1059860,80,122,120,80,grass,0
3,52,5120,70,309,43,1059860,39,60,50,65,fire,0
4,64,5120,70,405,58,1059860,58,80,65,80,fire,0
5,104,5120,70,634,78,1059860,78,159,115,100,fire,0
6,48,5120,70,314,65,1059860,44,50,64,43,water,0
7,63,5120,70,405,80,1059860,59,65,80,58,water,0
8,103,5120,70,630,120,1059860,79,135,115,78,water,0
9,30,3840,70,195,35,1000000,45,20,20,45,bug,0
10,20,3840,70,205,55,1000000,50,25,25,30,bug,0
11,45,3840,70,395,50,1000000,60,90,80,70,bug,0
12,35,3840,70,195,30,1000000,40,20,20,50,bug,0
13,25,3840,70,205,50,1000000,45,25,25,35,bug,0
14,150,3840,70,495,40,1000000,65,15,80,145,bug,0
15,45,3840,70,251,40,1059860,40,35,35,56,normal,0
16,60,3840,70,349,55,1059860,63,50,50,71,normal,0
17,80,3840,70,579,80,1059860,83,135,80,121,normal,0
18,56,3840,70,253,35,1000000,30,25,35,72,normal,0
19,71,3840,70,413,70,1000000,75,40,80,77,normal,0
20,60,3840,70,262,30,1000000,40,31,31,70,normal,0
21,90,3840,70,442,65,1000000,65,61,61,100,normal,0
22,60,5120,70,288,44,1000000,35,40,54,55,poison,0
23,95,5120,70,448,69,1000000,60,65,79,80,poison,0
24,55,2560,70,320,40,1000000,35,50,50,90,electric,0
25,85,2560,70,485,50,1000000,60,95,85,110,electric,0
26,75,5120,70,300,90,1000000,50,10,35,40,ground,0
27,100,5120,70,450,120,1000000,75,25,65,65,ground,0
28,47,5120,70,275,52,1059860,55,40,40,41,poison,0
29,62,5120,70,365,67,1059860,70,55,55,56,poison,0

In [143]:
df.dtypes

attack                int64
base_egg_steps        int64
base_happiness        int64
base_total            int64
defense               int64
experience_growth     int64
hp                    int64
sp_attack             int64
sp_defense            int64
speed                 int64
type1                object
is_legendary          int64
dtype: object

In [144]:
#converts object type as category
df["type1"] = df["type1"].astype("category")

In [145]:
df.dtypes

attack                  int64
base_egg_steps          int64
base_happiness          int64
base_total              int64
defense                 int64
experience_growth       int64
hp                      int64
sp_attack               int64
sp_defense              int64
speed                   int64
type1                category
is_legendary            int64
dtype: object

In [146]:
#converts categories at codes
df["type1"] = df["type1"].cat.codes

In [147]:
Y = df["is_legendary"].values
X = df.drop(columns=["is_legendary"]).values

In [148]:
from sklearn.linear_model import LogisticRegression as LR
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve

In [149]:
XTRAIN,XTEST,YTRAIN,YTEST=train_test_split(X,Y)

In [158]:
legendary_model = LR().fit(XTRAIN, YTRAIN)
legendary_prediction = legendary_model.predict(XTEST)
accuracy_score(YTEST, legendary_prediction)

/opt/Anaconda/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.9751243781094527